*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;  // 1 rem = 10px; 10/16 = 0,625      

    @include respond(tab-port){
        font-size: 50%;  // 1rem = 8px, 8/16 = 0.5
    }

    @include respond(phone){
        font-size: 43%;  //  1rem = 7px, 7/16 = 0.43 
    }

    @include respond(phone-small){
        font-size: 37%;  //  1rem = 6px, 7/16 = 0.37 
    }
}

body{
    font-family: 'Mukta', sans-serif;        
}



 